@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        width: 18rem;
        height: 30rem;
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        height: 7.5rem;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Movie Database System</h1>
</div>

@if (ViewData["Name"] != null)
{
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
    </svg>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        Welcome back, @ViewData["Name"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<br>

<div>
    <h3>Most Viewed</h3>
</div>

<div class="container">
    <div class="row">
        @foreach (var movie in ViewData["TopThreeList"] as List<Movie_Database_System.Models.Movie>)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="data:image/JPG;base64,@Convert.ToBase64String(movie.imageBinary, 0, movie.imageBinary.Length)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">@movie.summary</p>
                        <div style="display:flex ; justify-content:space-evenly">

                            <a asp-controller="Movie" asp-action="GetMovie" asp-route-id="@movie.movieId" role="button" class="btn btn-secondary btn-sm">Movie Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <br><br><br>

    <div>
        <h3>Last Added</h3>
    </div>

    <div class="row">
        @foreach (var movie in ViewData["LatestThreeList"] as List<Movie_Database_System.Models.Movie>)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="data:image/JPG;base64,@Convert.ToBase64String(movie.imageBinary, 0, movie.imageBinary.Length)" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">@movie.summary</p>
                        <div style="display:flex ; justify-content:space-evenly">

                            <a asp-controller="Movie" asp-action="GetMovie" asp-route-id="@movie.movieId" role="button" class="btn btn-secondary btn-sm">Movie Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <br>
</div>