@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Movie_Database_System.Models.Movie
@{
    List<Movie> movieList = ViewData["MovieList"] as List<Movie>;
    Director director = ViewData["Director"] as Director;
}

<style>
    .centerContent {
        display: flex;
        justify-content: center;
    }

    .centerContent > h6 {
        margin: 10px;
    }

    .error {
        margin: 60px 0px;
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        height: 7.5rem;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>

<div class="container">
    <h1 class="text-center">Director Information</h1>

    @if (ViewBag.Error != null)
            {
                <section class="row centerContent error">
                    <h2 class="text-center fw-bolder">An Error Occured</h2>
                    <h3 class="text-center">Something went wrong with retrieving Director information from database.
                    Please try to refresh the page, or revisit again after a little while.</h3>
                </section>
            }

    @if (ViewBag.Error == null)
    {
        <section id="directorInformation">
            <h2 class="fs-3">Name: <span class="fw-bold">@director.name</span></h2>
            <h2 class="fs-3">Surname: <span class="fw-bold">@director.surname</span></h2>
            <h2 class="fs-3">Age: <span class="fw-bold">@director.age</span></h2>
        </section>

        <section id="directorMovies">
            <div class="row">
                @foreach (Movie movie in movieList)
                {
                    <div class="col-md-4">
                        <div class="card-body">
                            <div style="height: 80px">
                                <h3 class="card-title text-center">@movie.name</h3>
                            </div>
                            <div class="centerContent" style="display : flex ;justify-content: space-evenly; margin: 20px">
                                <span style="margin : 1px" class="badge rounded-pill bg-dark">@movie.genre</span>
                                <span style="margin : 1px" class="badge rounded-pill bg-dark">@movie.rating</span>
                            </div>
                            <div>
                                <p style="margin: 20px" class="card-text text-center">@movie.summary</p>
                            </div>
                            <div class="centerContent">
                                <a asp-controller="Movie" asp-action="GetMovie" asp-route-id="@movie.movieId" class="btn btn-primary">Movie Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    }


    <div class="row">
        <div class="col centerContent">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Homepage</a>
        </div>
    </div>

</div>
