@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class=container-fluid>


        <form method="post" class="d-flex" asp-action="SearchMovie" asp-controller="Movie" method="POST">
            <input name="movieName" type="text" class="form-control me-2" type="search" placeholder="Search" id="movieName" aria-label="Search Movie">
            <button class="btn btn-primary" id="search-button" type="submit">Search</button>
        </form>
        <div class="row">
            @if (ViewBag.movieResults != null)
            {
                @foreach (var movie in ViewBag.movieResults)
                {
                    <div class="col-md-4">
                        <p class="text-center">@movie.name</p>
                        <div class="card">
                            <img src="data:image/JPG;base64,@Convert.ToBase64String(movie.imageBinary, 0, movie.imageBinary.Length)" class="card-img-top" alt="...">
                            <div>
                                <span class="badge badge-primary"> Ratings @movie.rating</span>
                                <span class="badge badge-primary">@movie.genre</span>
                                <span class="badge badge-primary">@movie.date</span>

                                <span class="badge badge-primary">
                                    <a href=@movie.trailerURL>Trailer Link</a>
                                </span>
                                <div class="card-body">
                                    <p class="card-text">@movie.summary</p>
                                    <a asp-controller="Director" asp-action="GetDirector" asp-route-id="@movie.directorId" role="button" class="btn btn-secondary btn-xs">Get Director Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</body>
<script>
     const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('movieName');
    searchButton.addEventListener('click', () => {
    const inputValue = searchInput.value;

    });
</script>

@{
}
