<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <style>
        .movieDetails {
            margin-top: 20px;
        }

        .card {
            display: flex;
            align-items: center;
        }

        img {
            height: 26rem;
            width: 18rem;
        }

        .summary {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
    <div class=container-fluid>

        <form method="post" class="d-flex" asp-action="SearchMovie" asp-controller="Movie" method="POST">
            <input name="movieName" class="form-control me-2" type="search" placeholder="Search" id="movieName" aria-label="Search Movie">
            <button class="btn btn-primary" id="search-button" type="submit">Search</button>
        </form>
        @if (ViewBag.Error != null)
        {
            <h3 class="text-capitalize">ERROR </h3>
            <div class="row justify-content-center align-align-items-center">
                <p>Beklenmeyen bir hata oluştu ! </p>
            </div>
        }

        <div class="row">
            @if (ViewBag.movieResults != null)
            {
                @foreach (var movie in ViewBag.movieResults)
                {
                    <div class="col-md-4 movieDetails">
                        <p class="text-center fs-5 fw-bold">@movie.name</p>
                        <div class="card">
                            <img src="data:image/JPG;base64,@Convert.ToBase64String(movie.imageBinary, 0, movie.imageBinary.Length)" class="card-img-top" alt="...">
                            <div style="display : flex ;justify-content:space-between; margin:8px">
                                <span style="margin: 3px" class="badge rounded-pill bg-dark ">@movie.rating ⭐</span>
                                <span style="margin: 3px" class="badge rounded-pill bg-dark">@movie.genre</span>
                                <span style="margin: 3px" class="badge rounded-pill bg-dark">@movie.date.ToShortDateString()</span>
                            </div>

                            <div class="card-body">
                                <p class="card-text summary">@movie.summary</p>
                                <div style="display:flex ; justify-content:space-evenly">
                                    <a href=@movie.trailerURL role="button" class="btn btn-secondary btn-sm">Trailer URL</a>
                                    <a asp-controller="Director" asp-action="GetDirector" asp-route-id="@movie.directorId" role="button" class="btn btn-secondary btn-sm">Director Details</a>
                                    <a asp-controller="Movie" asp-action="GetMovie" asp-route-id="@movie.movieId" role="button" class="btn btn-secondary btn-sm">Movie Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
<script>
    const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('movieName');
    searchButton.addEventListener('click', () => {
    const inputValue = searchInput.value;
    });
</script>
